body{
    background-color: rgb(236, 167, 111);
    text-align: center;
    padding: 25px;
    }

    
    
    img{
    width: 460px;
    height: 305px;
    }
       h1{
       color: green;
        padding: 10px;
        font-size: 55px;
        font-style: italic;
        }
        
        h2{
        color: green;
        padding: 10px;
        font-style: oblique;
        font-size: 30px;
        }
        
        p{
        padding: 10px;
        font-size: 25px;
        font-variant: initial;
        }

    #button{
        max-width: 220px;
        height: 60px;
        width: 40vw;
        padding: 5px;
        background-color: orange;
        border: black;
        box-shadow: rgb(204, 137, 37);
        border-radius: 50px;
        font-size: Bold;
        letter-spacing: 3px;
        color: white;
        cursor: pointer;
        text-align: center;
    }
    #button:hover{
        color: rgb(9, 28, 241);
    }